@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  background-color: rgb(16, 24, 40);
  height: 100vh;
}

/* CONTACT LIST CONTAINER */
.contact-list-container {
  display: grid;
  width: 35rem;
  background-color: rgb(30 41 57);
  position: absolute;
  right: 0;
}

.contact-list-main {
  display: grid;
}

/* FIRST SECTION */
.first-section {
  display: grid;
  gap: 1rem;
  padding-block-start: 2rem;
  position: fixed;
  width: 35rem;
  background-color: rgb(30 41 57);
  z-index: 1;
}

.header-section {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-inline: 2rem;
}

.cancel-icon {
  color: rgb(153 161 175);;
}

.cancel-icon:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.tab-container {
  padding-block-start: 1.5rem;
  border-bottom: solid 0.031rem rgb(52, 63, 77);
}

.tab-container-main {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding-inline: 2rem;
}

.all-selector p {
  color: rgb(97, 95, 255);
  padding-block-end: 1rem;
}

.all-selector:hover {
  cursor: pointer;
  transition: 0.5s;
}

.selector-indicator {
  height: 0.15rem;
  width: auto;
  background-color: rgb(97, 95, 255);
}

.online-selector p,
.offline-selector p {
  color: rgb(153, 161, 175);
  padding-block-end: 1rem;
}

.online-selector p:hover,
.offline-selector p:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.inactive-selector-indicator {
  display: none;
  height: 0.15rem;
  width: auto;
  background-color: rgb(153, 161, 175);
}

.inactive-selector-indicator:hover {
  display: block;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

/* SECOND SECTION */
.second-section {
  display: grid;
  padding-block-start: 8.5rem;
}

.active-container-main {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: 1.5rem;
  border-bottom: solid 0.031rem rgb(52, 63, 77);
}

.active-container-main:hover {
  cursor: pointer;
  background-color: rgb(33, 44, 61);
  transition: 0.5s;
}

.image-name-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.image-container {
  position: relative;
  margin-block-start: 0.5rem;
}

.image-container img {
  max-width: 2rem;
  width: 100%;
  border-radius: 100%;
}

.online-indicator {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(5, 223, 114);
  border: solid 0.080rem rgb(30 41 57);
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 1.5rem;
}

.offline-indicator {
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgb(106 114 130);
  border: solid 0.080rem rgb(30 41 57);
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 1.5rem;
}

.name-username-container {
  display: grid;
  gap: 0.3rem;
}

.name-username-container h4 {
  color: white;
  font-weight: 400;
}

.name-username-container p {
  color: rgb(153 161 175);
}

.menu-interaction-container svg {
  max-width: 1.5rem;
  width: 100%;
}

.menu-interaction-container:hover .overlay-card-container {
  display: block;
}

.more-icon-container {
  padding: 0.7rem 0.9rem;
  background-color: rgb(30 41 57);
  border-radius: 100%;
}

.more-icon {
  margin-block-start: 0.1rem;
  color: rgb(153 161 175);
  position: relative;
}

.overlay-card-container {
  display: none;
  position: absolute;
  right: 2rem;
  box-shadow: 0.3rem 0.3rem 1rem 0 rgb(20, 27, 37);
}

.overlay-card {
  display: grid;
  padding-block: 0.3rem;
  color: rgb(153 161 175);
  border: solid 0.031rem rgb(38, 52, 72);
  background-color: rgb(30, 41, 57);
  border-radius: 0.5rem;
}

.option-container {
  padding: 0.6rem 1rem;
}

.option-container:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(38, 51, 71);
  transition: 0.5s;
}