@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

body {
  background-color: rgb(16, 24, 40);
  height: 100vh;
}

/* HEADER MESSAGE CONTAINER */
.drawer-container {
  display: grid;
  justify-content: end;
  width: 32rem;
  background-color: rgb(30, 41, 57);
  border-left: solid 0.031rem rgb(52, 63, 77);
  height:max-content;
  padding-block-end: 2rem;
  position: absolute;
  right: 0;
}

.header-cancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 0.5rem
}

.close-icon {
  color: rgb(112, 97, 239);
}

.close-icon :hover {
  cursor: pointer;
  color: white;
  transition: 0.3s;
}


.top-message {
  display: grid;
  padding: 2rem 2rem;
  background-color: rgb(55, 42, 172);
  color: white;
  margin-block-end: 1.5rem;
}

.top-message-body-text {
  color: rgb(163, 179, 255);
}

/* FORM LABELS CONTAINER */
.form-container form {
  display: grid;
  gap: 0.5rem;
}

label {
  font-weight: 500;
  color: white;
}

.text-input {
  background-color: rgb(33, 45, 63);
  border: solid 0.031rem rgb(52, 63, 77);
  padding: 0.5rem;
  border-radius: 0.5rem;
  resize: vertical;
  color: white;
}

::placeholder {
  color: rgb(71, 85, 107);
}

.form-container {
  margin-block-end: 1.5rem;
}

/* AVATAR IMAGE CONTAINER */
.add-members-container {
  display: grid;
  gap: 0.5rem;
}

.team-members-container {
  color: white;
  /* margin-block-end: 0.5rem; */
}

.avatar-image-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar-image-container :hover {
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.avatar-image-container img {
  max-width: 2rem;
  width: 100%;
  border-radius: 100%;
}

.avatar-image-container svg {
  border:dashed 0.1rem rgb(75, 84, 97);
  padding: 0.3rem;
  color: rgb(209, 213, 220);
  border-radius: 100%;
  margin-block-start: 0.2rem;
}

/* PRIVACY CONTAINER */
.second-section {
  display: grid;
  gap: 1.5rem;
  padding: 0 2rem;
}

.privacy-container {
  display: grid;
  gap: 1rem;
  margin-block-end: 2rem;
}

.privacy-header {
  color: white;
}

.selector-form-container form {
  display: grid;
  gap: 1rem;
}

.privacy-selector {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.privacy-selector input {
  margin-block-start: 0.2rem;
  accent-color: rgb(97, 95, 255);
}

.privacy-body-copy p{
  margin-block-start: 0.3rem;
}

.pp-body-copy {
  color: rgb(153, 161, 175);
}

hr {
  border: solid 0.031rem rgb(52, 63, 77); 
}

/* COPYLINK CONTAINER */
.copy-link-container {
  display: grid;
  gap: 0.5rem;
}

.copy-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(124, 134, 255);
}

.copy-link svg {
  margin-block-start: 0.2rem;
}

.learn-more {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(106, 114, 130);
}

.learn-more svg {
  margin-block-start: 0.2rem;
  max-width: 1.5rem;
  width: 100%;
}

.copy-link-main :hover {
  cursor: pointer;
  color: rgb(174, 181, 252);
  transition: 0.3s;
}

.learn-more-container :hover {
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

/* THIRD SECTION */
.third-section {
  display: grid;
  background-color: rgb(30, 41, 57);
  border-top: solid 0.031rem rgb(52, 63, 77);
  gap: 2rem;
  padding: 2rem;
  /* position: relative;
  bottom: 0; */
}

.button-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  justify-content: end;
}

.cancel-button {
  border: solid 0;
  background-color: rgb(52, 63, 77);
  color: white;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.cancel-button-container :hover {
  cursor: pointer;
  background-color: rgb(68, 83, 101);
  transition: 0.3s;
}

.save-button {
  background-color: rgb(97, 95, 255);
  color: white;
  border: solid 0;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.save-button-container :hover {
  cursor: pointer;
  background-color: rgb(162, 161, 255);
  transition: 0.3s;
}