@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(16, 24, 40);
  height: 100vh;
  /* margin-inline: 2rem; */
}


/* HEADER CONTAINER */
.header-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: rgb(23 33 48);
  border-bottom: solid 0.031rem rgb(52 58 72);
}

.year-header-text p {
  color: white;
  font-weight: 500;
}

.web-view-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.date-container {
  display: flex;
  align-items: center;
}

.month-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  background-color: rgb(46 56 69);
  color: white;
  border-radius: 0.5rem;
}

.month-container:hover {
  cursor: pointer;
  background-color: rgb(62, 74, 90);
  transition: 0.5s;
}

.month-container:hover .chevron-down {
  color: white;
}

.month-header-text p {
  font-weight: 500;
}

.month-container-main {
  position: relative;
}

.chevron-left,
.chevron-right,
.chevron-down {
  width: 1rem;
  margin-block-start: 0.3rem;
  color: rgb(153 161 175);
}

.chevron-left-container {
  display: grid;
  padding: 0.61rem;
  background-color: rgb(46 56 69);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.chevron-right-container {
  display: grid;
  padding: 0.61rem;
  background-color: rgb(46 56 69);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.chevron-left-container:hover,
.chevron-right-container:hover {
  cursor: pointer;
  background-color: rgb(62, 74, 90);
  transition: 0.5s;
}

.chevron-left-container:hover .chevron-left,
.chevron-right-container:hover .chevron-right {
  color: white;
}

.day-header-text {
  padding: 0.8rem 1.5rem;
  color: white;
  background-color: rgb(46 56 69);
  font-weight: 500;
}

.day-header-text:hover {
  cursor: pointer;
  background-color: rgb(62, 74, 90);
  transition: 0.5s;
}

.vertical-line {
  width: 0.1rem;
  height: 1.5rem;
  background-color: rgb(46 56 69);
  border-radius: 100%;
}

.add-event-button {
  padding: 0.8rem 1.5rem;
  border: none;
  background-color: rgb(97 95 255);
  color: white;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.add-event-button:hover {
  cursor: pointer;
  background-color: rgb(120, 118, 252);
  transition: 0.5s;
}

/* MONTH VIEW DROPDOWN */
.month-dropdown-main {
  display: none;
  position: absolute;
  top: 2.8rem;
}

.month-dropdown {
  display: grid;
  background-color: rgb(23 33 49);
  border: solid 0.031rem rgb(46 56 69);
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  width: 9rem;
}

.month-container-main:hover .month-dropdown-main {
  display: block;
}

/* .month-container-main:hover .chevron-down {
  transform: rotate(180deg);
  transition: 0.5s;
  margin-block-start: 0;
} */

/* .RESONSIVE BUTTONS TRIGGER */
.header-responsive-view-container {
  display: none;
}

.more-icon {
  width: 1.5rem;
  color: rgb(153 161 175);
}

.more-icon:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.more-dropdown {
  display: none;
}

.more-drop-down-container {
  position: relative;
}

.more-dropdown-container:hover .more-dropdown {
  cursor: pointer;
  display: block;
  transition: 0.5s;
  position: absolute;
  right: 1rem;
  top: 3rem;
}

.more-dropdown-main {
  display: grid;
  gap: 0.5rem;
  background-color: rgb(23 33 49);
  border: solid 0.031rem rgb(46 56 69);
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  width: 9rem;
}

.dropdown-action-trigger {
  padding: 0.5rem 0.7rem;
  color: rgb(209 213 220);
}

.dropdown-action-trigger:hover {
  cursor: pointer;
  background-color: rgb(29, 41, 61);
  color: white;
  transition: 0.5s;
}

.days-month-selection-container {
  display: grid;
  /* gap: 0.5rem; */
}

.header-responsive-view-main {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.arrow-left-right-main-container {
  background-color: rgb(46 56 69);
  padding: 0.38rem 1rem;
  border-radius: 0.5rem;
  border: solid 0.031rem rgb(53, 65, 80);
}

.arrow-left-right-main {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.responsive-left-container,
.responsive-right-container {
  width: 1.5rem;
  color: rgb(153 161 175);
  margin-block-start: 0.2rem;
}

.responsive-left-container:hover,
.responsive-right-container:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.vertical-line-arrow-container {
  width: 0.1rem;
  height: 1.5rem;
  background-color: rgb(58, 71, 88);
  border-radius: 100%;
}

/* CALENDAR CONTAINER */
.calendar-container {
  display: flex;
}

/* .calendar-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  width: 100%;
} */

.calendar-container-main {
  width: 100%;
}

.day-of-the-week {
  display: grid;
  align-items: center;
  padding-block: 1rem;
  text-align: center;
  color: white;
  font-weight: 500;
  border-bottom: solid 0.031rem rgb(46 56 69);
  border-right: solid 0.031rem rgb(46 56 69);
}

.days-inactive-container,
.days-active-container {
  /* max-width: 100%;
  width: 11rem; */
  height: 30%;
  padding: 0.5rem;
  border-right: solid 0.031rem rgb(46 56 69);
  border-bottom: solid 0.031rem rgb(46 56 69);
}

.days-inactive-container {
  background-color: rgb(23 33 49);
}

.days-of-the-week-text {
  color: rgb(153 161 175);
}

.activity-container {
  display: grid;
  gap: 0.5rem;
  margin-block-start: 1rem;
}

.activity-container:hover {
  cursor: pointer;
  color: rgb(97 95 255);
}

.activity-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.activity-text-title {
  color: white;
  font-weight: 500;
}

.activity-text-time {
  color: rgb(153 161 175);
  font-weight: 500;
}

.selected-date {
  padding: 0.3rem 0.4rem;
  background-color: rgb(97 95 255);
  border-radius: 50rem;
  width: fit-content;
  color: white;
}

/* BOTTOM CONTAINER */
.event-bottom-container {
  display: none;
  background-color: rgb(23 33 49);
  border: solid 0.031rem rgb(46 56 69);
  border-radius: 1rem;
  margin-inline: 2rem;
  margin-block-start: 24rem;
}

.time-container {
  width: 1.3rem;
  margin-block-start: 0.2rem;
}

.maple-syrup-container,
.maple-syrup-container-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.maple-syrup-main {
  display: grid;
  gap: 0.5rem;
}

.calendar-header-title {
  color: white;
  font-weight: 500;
}

.time-main-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(153 161 175);
}

hr {
  border: solid 0.031rem rgb(46 56 69);
}

.edit-button {
  display: none;
  padding: 0.5rem;
  background-color: rgb(46 56 69);
  color: white;
  border: solid 0.031rem rgb(53, 65, 80);
  border-radius: 0.5rem;
  font-weight: 500;
}

.edit-button:hover {
  cursor: pointer;
  background-color: rgb(37, 45, 55);
  transition: 0.5s;
}

/* RESPONSIVE VIEW MEDIA */
@media (max-width:1500px) {
  .activity-text-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 8rem;
  }
}

@media (max-width:1230px) {
  .days-main-container {
    text-align: end;
  }

  .days-active-container,
  .days-inactive-container {
    height: 25%;
  }

  .activity-container {
    display: none;
  }

  .dot-container {
    display: flex;
    gap: 0.2rem;
    align-items: end;
  }

  .dot-indicator {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(153 161 175);
    border-radius: 50rem;
  }

  .selected-date {
    padding: 0rem 0rem;
    background-color: transparent;
    border-radius: 0rem;
    width: auto;
    color: rgb(97 95 255);
  }

  .days-main-container {
    display: grid;
    gap: 1rem;
  }

  .event-bottom-container {
    display: block;
    margin-block-start: 16rem;
  }

  .days-active-container:hover,
  .days-inactive-container:hover {
    cursor: pointer;
    background-color: rgb(26, 36, 55);
    transition: 0.5ms;
  }

  .maple-syrup-container:hover {
    cursor: pointer;
    background-color: rgb(29, 40, 58);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: 0.5s;
  }

  .maple-syrup-container-bottom:hover {
    cursor: pointer;
    background-color: rgb(29, 40, 58);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: 0.5s;
  }

  .maple-syrup-container:hover .edit-button,
  .maple-syrup-container-bottom:hover .edit-button {
    display: block;
    transition: 0.5s;
  }

  .selected-date-third-half {
    justify-items: end;
  }

  .selected-date-third-half-main {
    padding: 0.3rem;
    background-color: white;
    width: fit-content;
    border-radius: 50%;
  }

  .selected-date-third-half-main p {
    color:rgb(16, 24, 40);;
  }
}

@media (max-width:800px) {
  .header-responsive-view-container {
    display: block;
  }

  .web-view-container {
    display: none;
  }
}