@font-face {
  font-family: "product sans";
  src: url(https://console.cloudinary.com/app/c-894d4535acc5353a470accad8153fe/assets/media_library/folders/ccb3baa7030823120e438a3f8337fb97f7);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'product sans';
  box-sizing: border-box;
}

body {
  background-color: rgb(6 6 6);
  height: 100vh;
}

/* section {
  display: grid;
  align-items: center;
} */

/* HEADER SECTION */
header {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-inline: 2rem;
}

.left-header-container{
  display: flex;
  gap: 4rem;
  align-items: center;
}

.logo {
  color: white;
}

.left-header-main {
  display: grid;
  grid-template-columns: auto 1.5rem;
  align-items: center;
  gap: 0.5rem;
}

.arrow-drop-down {
  border: solid 0.031rem rgb(23, 24, 25);
  text-align: center;
  border-radius: 3rem;
}

.arrow-drop-down svg {
  color: rgb(84, 88, 91);
  /* padding-block-start: 0.4rem; */
  width: 0.75rem;
}

ul {
  display: flex;
  gap: 1.5rem;
  color: rgb(154 160 166);
  list-style-type: none;
}

li:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.header-button-container {
  display: flex;
  gap: 0.5rem;
}

.build-gemini-button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50rem;
  color: rgb(154 160 166);
  background-color: rgb(19, 20, 20);
}

.build-gemini-button:hover {
  cursor: pointer;
  background-color: rgb(31, 33, 33);
  color: white;
  transition: 0.5s;
}

.try-gemini-button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50rem;
  color: rgb(154 160 166);
  background-color: rgb(19, 20, 20);
}

.try-gemini-button:hover {
  cursor: pointer;
  background-color: rgb(31, 33, 33);
  color: white;
  transition: 0.5s;
}

.search-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50rem;
  color: rgb(154 160 166);
  background-color: rgb(19, 20, 20);
}

.search-button:hover {
  cursor: pointer;
  background-color: rgb(31, 33, 33);
  color: white;
  transition: 0.5s;
}

/* MAIN */
/* main {
  display: grid;
  align-items: center;
  margin-inline: 20rem;
} */

/* FIRST SECTION CONTAINER */
.first-section-container {
  /* display: flex; */
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* gap: 2rem;
  align-items: start; */
  padding-block: 4rem;
  margin-inline: 2rem;
  justify-items: center;
}

.first-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10rem;
  align-items: start;
}

.left-stick-container {
  display: grid;
  gap: 1.5rem;
  max-width: 37.938rem;
  position: sticky;
  top: 5%;
  left: 0;
}

.text-navigation-container {
  display: grid;
  gap: 1rem;
}

.text-container {
  color: white;
  font-size: 2.625rem;
  font-weight: 500;
}

.date-model-learn-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.date-model-learn-container p {
  color: rgb(154 160 166);
}

.inner-text-button {
  padding: 0.5rem 1rem;
  border: solid 0.031rem rgb(23, 24, 25);
  background-color: rgb(6 6 6);
  color: rgb(154 160 166);
  border-radius: 50rem;
}

.inner-text-button:hover {
  cursor: pointer;
  background-color: rgb(30, 30, 30);
  color: white;
  transition: 0.5s;
}

.learn-more-trigger {
  display: grid;
  grid-template-columns: auto 1.125rem;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.learn-more-trigger:hover {
  cursor: pointer;
  background-color: rgb(12, 12, 12);
  transition: 0.5s;
}

.arrow-right-container svg {
  color: rgb(154 160 166);
  margin-block-start: 0.4rem;
}

.image-container {
  max-width: 28.414rem;
  position: relative;
}

.input-container {
  color: white;
  font-size: 0.625rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: rgba(20, 21, 21, 0.288);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.output-container {
  color: white;
  font-size: 0.625rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: rgba(20, 21, 21, 0.288);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.image-main img {
  max-width: 28.414rem;
  width: 100%;
  border-radius: 1rem;
}

/* RIGHT SCROLL CONTAINER */
.right-container-main {
  display: flex;
  /* grid-template-columns: auto 1fr; */
  gap: 1.5rem;
  align-items: start;
  padding-block: 2.5rem;
  border-bottom: solid 0.031rem rgb(241 243 244 / 8%);
}

.right-container-main:hover {
  cursor: pointer;
  transition: 0.5s;
}

.right-image-container img {
  max-width: 11rem;
  width: 100%;
  border-radius: 1rem;
}

.right-text-container {
  display: grid;
  gap: 1rem;
  align-items: start;
}

.right-header-text p {
  max-width: 32.875rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

/* DIVIDER SECTION STARTS */
hr {
  border: solid 0.031rem rgb(241 243 244 / 8%);
}
/* DIVIDER SECTION ENDS */

/* SECOND SECTION CONTAINER */
.second-section-container {
  display: grid;
  padding-block-end: 4rem;
  margin-inline: 2rem;
  justify-items: center;
}

.second-section-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding-block: 3rem;
}

.second-section-header p {
  font-weight: 500;
  font-size: 2.625rem;
  color: white;
}

.header-section-button {
  display: grid;
  grid-template-columns: auto 1.125rem;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 1rem;
  border: solid 0.031rem rgb(23, 24, 25);
  background-color:  rgb(6 6 6);
  color: rgb(154 160 166);
  border-radius: 50rem;
}

.header-section-button:hover {
  cursor: pointer;
  background-color: rgb(12, 12, 12);
  color: white;
  transition: 0.5s;
}

.right-arrow-trigger {
  padding-block-start: 0.3rem;
}

.building-features-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  gap: 9rem;
}

.feature-container {
  display: grid;
  gap: 3rem;
  align-items: start;
  justify-content: space-between;
  height: 100%;
  max-width: 16.875rem;
  width: 100%;
}

.feature-container-main {
  display: grid;
  gap: 1.5rem;
  border-block-start: solid 0.031rem rgb(241 243 244 / 8%);
  padding-block-start: 2rem;
}

.feature-image {
  display: grid;
  gap: 1rem;
}

.feature-image img {
  max-width: 6.125rem;
  width: 100%;
  border-radius: 1rem;
}

.feature-name-body-container {
  display: grid;
  gap: 0.5rem;
}

.feature-name-body-container h1 {
  color: white;
}

.feature-name-body-container p {
  color: rgb(154 160 166);
  font-size: 1.125rem;
}

.bottom-triggers {
  display: grid;
  gap: 1.5rem;
}

.bottom-header p {
  color: rgb(154 160 166);
  font-size: 0.625rem;
}

.bottom-header-trigger {
  display: grid;
  gap: 0.5rem;
}

.trigger-container-main {
  display: flex;
  flex-direction: row;
  /* display: grid;
  grid-template-columns: auto 1.125rem; */
  gap: 0.5rem;
  align-items: center;
  color:rgb(154 160 166);
}

.trigger-container-main:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.right-arrow-container svg {
  width: 1rem;
  margin-block-start: 0.3rem;
}

.learn-more-trigger-second {
  display: grid;
  align-self: flex-end;
}

.learn-more-trigger-second p {
  color: rgb(154 160 166);
}

.learn-more-trigger-second p:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

.navigation-indicator-container {
  display: flex;
}

/* NAVIGATION INDICATOR CONTAINER */
.navigation-indicator-container {
  display: flex;
  /* grid-template-columns: 1.5rem 1.5rem; */
  padding: 0.3rem 0.3rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(241 243 244 / 8%);
  border-radius: 50rem;
  margin-block-start: 3.5rem;
  width: fit-content;
}

.arrow-navigation-left svg {
  color: rgb(154 160 166);
}

.arrow-navigation-right svg {
  color: rgb(241 243 244);
}

.arrow-navigation-left,
.arrow-navigation-right {
  width: 1.5rem;
  height: 1.5rem;
}

.right-arrow {
  padding: 0.3rem 0.7rem;
  background-color: rgb(241 243 244 / 8%);
  border-radius: 50rem;
}

.right-arrow:hover {
  cursor: pointer;
  background-color: rgba(201, 203, 204, 0.08);
  transition: 0.5s;
}

.left-arrow {
  padding: 0.3rem 0.7rem;
  border-radius: 50rem;
}

/* THIRD SECTION CONTAINER */
.third-section {
  display: grid;
  gap: 1rem;
  justify-items: center;
  padding-block: 4rem;
  margin-inline: 2rem;
}

/* .third-container {
  display: grid;
  align-items: center;
} */

.third-section-header {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  padding-block: 3rem;
}

.third-section-header p {
  font-weight: 500;
  font-size: 2.625rem;
  color: white;
}

.research-content-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

/* FOOTER SECTION CONTAINER */
.social-follow-triggers {
  display: grid;
  justify-items: center;
}

.social-follow-main {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-block-end: 2rem;
  margin-inline: 2rem;
  max-width: 93.75rem;
  width: 100%;
}

.social-naming p {
  color: white;
}

.socials-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.socials-container img:hover {
  cursor: pointer;
  transition: 0.5s;
}

.footer-section-one {
  display: flex;
  gap: 15rem;
  padding-block-start: 3rem;
  justify-content: center;
  padding-block-end: 4rem;
  margin-inline: 2rem;
}

.footer-header-main {
  color: white;
  max-width: 21rem;
  width: 100%;
}

.model-header {
  color: white;
}

.model-body {
  color: rgb(154 160 166);
}

.footer-section-navigation {
  display: grid;
  gap: 3rem;
}

.footer-navigation-container {
  display: flex;
  gap: 15rem;
  align-items: start;
}

.left-navigation-main {
  display: grid;
  gap: 1rem;
  max-width: 30rem;
  width: 100%;
}

.title-icon-container {
  display: grid;
  gap: 0.5rem;
}

.img-title-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.img-title-container p {
  color: white;
  font-size: 1.25rem;
}

.img-title-container p:hover {
  cursor: pointer;
  color: rgb(122, 122, 122);
  transition: 0.5s;
}

.email-address-header {
  color: rgb(154 160 166);
  margin-block-end: 1rem;
}

.email-address-body {
  font-size: 0.75rem;
  color: rgb(154 160 166);
}

.underline-text {
  text-decoration: underline;
}

form {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
  background-color: rgb(25 25 25);
  border-radius: 50rem;
}

input {
  background-color: transparent;
  border: none;
}

input::placeholder {
  color: rgb(154 160 166);
}

.footer-arrow-left-container {
  width: 1rem;
  color: rgb(154 160 166);
  margin-block-start: 0.2rem;
}

.google-logo {
  margin-block-start: 0.2rem;
}

.footer-section-two {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 2rem;
  margin-inline: 2rem;
}

.footer-section-two-triggers {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: rgb(154 160 166);
}

.footer-section-two-triggers p:hover {
  cursor: pointer;
  color: white;
  transition: 0.5s;
}



